@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?v7djsl');
  src:  url('fonts/icomoon.eot?v7djsl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?v7djsl') format('truetype'),
    url('fonts/icomoon.woff?v7djsl') format('woff'),
    url('fonts/icomoon.svg?v7djsl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;


  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-up:before {
  content: "\ea41";
  color: purple;

}
.icon-mail:before {
  content: "\ea83";
}
.icon-facebook2:before {
  content: "\ea91";
  color:white;
}
.icon-instagram:before {
  content: "\ea92";
  color: white;
}
.icon-twitter:before {
  content: "\ea96";
}
